<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Pratik Astro Vastu</title>
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-top:2vh; margin-bottom: 5vh; margin-left:1vh; margin-right:1vh;">
        <div class="container-fluid">
          <a class="navbar-brand">Pratik Astro & Vastu</a>
        </div>
      </nav>
       <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="./assets/self.jpeg" class="rounded float-start" alt="Notfound" height="300vh" width="260vh">
          </div>
          <div class="col">
            <p>
              Vaastu Shastra is one of the earliest teachings of Indian civilization. This is linked to the philosophy of engineering which teaches us how a structure can be built to bring constructive energies such as solar energy, moon energy, water energy, fire energy with earth energy into our lives. It is a proven and well-observed science that manipulates the forces of nature to work for us. There are reasons why the experts advise us to follow vast directions including not to have Kitchen of South-East facing and why to put the bedroom in the South & West direction.

              Vastu Shastra is one of those disciplines that has developed over the years on the basis of traditional knowledge based on natural elements. The age-old Indian philosophers knew a lot about the five elements that made the universe: sun, moon, air, earth, and space.

              The old rishis (sages) of the day had knowledge of the gravitational forces, the magnetic field, the position of the earth, the velocity of the winds, the ultraviolet rays, the intensity and the volume of rainfall, etc. When houses are built on the basis of the application of that knowledge, they are considered scientific. The five elements of nature need to be synchronized with the five elements of the human body.
            </p>
          </div>
        </div>
      </div>
      <br><br>
      <h3 style="color: red;"><center><u>Course</u></center></h3><br><br>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/basic.jpeg" class="card-img-top" alt="Notfound" height="250vh" width="150vh">
                <div class="card-body">
                  <h5 class="card-title">Basic Vastu</h5>
                  <p class="card-text">
                    <ol>
                      <li>16 Directions</li>
                      <li>32 Main Gates</li>
                      <li>Colour and Vastu</li>
                      <li>Kitchen Vastu</li>
                      <li>Toilet Vastu</li>
                      <li>5 Elements</li>
                      <li>How to find center of the house</li>
                    </ol>
                  </p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="./assets/adv.jpeg" class="card-img-top" alt="Notfound" height="250vh" width="150vh">
                <div class="card-body">
                  <h5 class="card-title">Advance Vastu</h5>
                  <p class="card-text">
                    <ol>
                      <li>Detail of 45 devta field</li>
                      <li>Map of devta field</li>
                      <li>Solution for devta field</li>
                      <li>Devta food details</li>
                      <li>Stairs solution</li>
                      <li>Bedroom solution</li>
                    </ol>
                  </p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="./assets/energy.jpeg" class="card-img-top" alt="Notfound" height="250vh" width="150vh">
                <div class="card-body">
                  <h5 class="card-title">Energy Vastu</h5>
                  <p class="card-text">
                    <ol>
                      <li>Geopathic stress line</li>
                      <li>Infrared Radiation</li>
                      <li>Ultraviolet Radiation</li>
                      <li>Evil energy</li>
                      <li>Black magic energy</li>
                      <li>Bandhan dosh</li>
                      <li>Pitra dosh</li>
                      <li>Telluric energy</li>
                    </ol>
                  </p>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
      <br><br><br>
      <center>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title" style="color: red; text-decoration: underline;">Contact us</h5>
          <p class="card-text">
            For any Query or Consult<br>
            Mobile No:- 8864925152<br>
            Email:- thaparrajesh060@gmail.com
          </p>
        </div>
      </div>
      
    </center>
   


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>